<div>
  <input class="checkbox" type="checkbox" [(ngModel)]="stockItem.permission">
  <span class="stockDataHeader">Submit permission (if disabled images will not submit to the stock)</span>
  <div class="form-group mt-3">
    <p>FTP data(not your account data) for <b>{{ stockItem.stock }}:</b></p>
    <label>Login</label>
    <input type="text" class="form-control inputdata" [(ngModel)]="stockItem.login">
    <label class="mt-2">Password</label>
    <input type="password" class="form-control inputdata" [(ngModel)]="stockItem.password">
  </div>
</div>