input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.stockDataHeader{
    position: relative;
    margin-left: 5pt;
    margin-right: 5pt;
    font-size: 12pt;
    font-weight: 400;
    top:-6pt;
}
.stockItemContainer{
    margin:10pt;
    width:250pt;
}
.inputdata{
    width: 250pt;
}
.btn {
    font-size: 12px;
    border-radius: 0px;
    padding: 5px 15px; 
}
.btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; 
}
.btn.btn-primary {
      background: #46ddb0;
      border-color: #46ddb0;
      color: #fff; 
}
.btn.btn-primary.btn-black--hover:hover {
        background: #666666;
        color: #fff; 
}
.linkitem{
    margin-top: 0pt;
    font-size: 10pt;
    display: block;
    position: relative;
    top:-12pt;
}