.app-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .app-full-width {
    width: 100%;
  }

  .app-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}