<div>
  <form class="app-form" [formGroup]="form">
    <mat-form-field class="app-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="app-full-width" >
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" style="width:100%" (click)="submit()">Login</button>
  </form>
  
  <span style="width: 100%; text-align: center;display:block; margin-top:10pt;">New to iSubmitter? <strong style="cursor: pointer" (click)="register()">Sign up!</strong></span>
</div>