.app-full-width {
  width: 100%;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: url(../../../../assets/notebg.jpg);
  background-size: cover;
}

.side {
  position: fixed;
  width: 25%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  background-color: white;
}

mat-form-field {
  margin: 10px 0 10px 0;
}

.drawer {
  margin: auto; 
  position: relative; 
  width: 700px; 
  padding: 40px;
}

.board {
  margin-left: 20pt;
  margin-right: 20pt; 
  position: relative; 
  top: 30%
}