<mat-drawer-container style="height: 100%">

  <mat-drawer mode="side" opened class="side drawer">
    <div class="board">

      <form [formGroup]="registerForm" id="signup-form" (submit)="regusterUser()" autocomplete="off">
        <h2 style="margin-bottom: 30pt;">Create account</h2>
        <div>

          <mat-form-field class="app-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" id="email" formControlName="Email" />

            <mat-error *ngIf="registerForm.get('Email').errors?.required && registerForm.get('Email').touched">Email
              required</mat-error>
            <mat-error *ngIf="registerForm.get('Email').errors?.email">Email is not valid</mat-error>
          </mat-form-field>
        </div>
        <div>

          <mat-form-field class="app-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" id="password" formControlName="Password" />

            <mat-error *ngIf="registerForm.get('Password').errors?.required && registerForm.get('Password').touched">
              Password
              required</mat-error>
            <mat-error *ngIf="registerForm.get('Password').errors?.minlength && registerForm.get('Password').touched">
              Min
              lenght is 4</mat-error>
          </mat-form-field>
        </div>
        <div>

          <mat-form-field class="app-full-width">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" name="re_password" id="re_password" formControlName="ConfirmPassword" />

            <mat-error
              *ngIf="registerForm.get('ConfirmPassword').errors?.required && registerForm.get('ConfirmPassword').touched">
              Password
              required</mat-error>
            <mat-error
              *ngIf="registerForm.get('ConfirmPassword').errors?.passwordMismatch && registerForm.get('ConfirmPassword').touched">
              Passworm
              mismatch</mat-error>
          </mat-form-field>
          <mat-error
          *ngIf="registerForm.errors && registerForm.errors['server-error']">
          {{ registerForm.errors['server-error'] }}</mat-error>
         
        </div>
        <div style="margin-top:30pt">
          <button type="submit" mat-flat-button color="primary" style="width:100%">Sign Up</button>
        </div>
      </form>
      <p style="margin: auto; width: 100%; text-align: center; margin-top: 20px">
        Have already an account ? <span style="cursor: pointer" routerLink="/" class="loginhere-link">Login
          <b>here!</b></span>
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <div class="mainscreen"></div>
  </mat-drawer-content>
</mat-drawer-container>