<div class="row">
  <div class="col-12" [ngClass]="{mouseOver:mouseover}" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <span>{{ file.name }}</span>
    <span class="del" (click)="delFile()">x</span>
  </div>
</div>