<div *ngIf="!hidden">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-11">
        <div style="position: absolute; top:-25pt; margin-left: 15px;">

          <span class="loading "></span>
          <span class="text"> Loading</span>

          <span class="successrect"></span>
          <span class="text"> Succeded</span>

          <span class="failedrect"></span>
          <span class="text"> Failed</span>

        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="container-fluid mt-3" style="text-align: center" *ngIf="!hidden">
      <span *ngIf="lastImages.length == 0">There is no processing images.</span>

      <app-historyitem *ngFor="let item of lastImages" [item]="item" (itemFlag)="itemFlagChanged($event)"
        [isInprocessRoute]="true"></app-historyitem>
    </div>


  </div>
</div>