<div style="margin-top: 100pt;">
  <div class="container">
    <div class="signup-content shadow">
      <h2 class="form-title">Enter your email</h2>
      <div class="form-group">
        <input [(ngModel)]="email" type="email" class="form-input" name="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="submit" name="submit" class="form-submit" value="Recover" (click)="onsubmit()" />
      </div>
      <div>
        <span *ngIf="msgShow">
          Reset form sent to your email
        </span>
        <span *ngIf="errorshow">
          {{ error }}
        </span>
      </div>
    </div>
  </div>
</div>