.mainframe{
  min-height: 530pt
}
@media screen and (min-width: 1600px){
  .mainframe{
      min-height: 790pt
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: url(../../../assets/notebg.jpg);
  background-size: cover;
}

.side {
  position: fixed;
  width: 25%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
  background-color: white;
}