<mat-drawer-container>
  <mat-drawer mode="side" opened class="side">
      <div style="margin-left: 20pt;margin-right: 20pt; position: relative; top: 40%">
        <app-auth-login></app-auth-login>
      </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mainscreen"></div>
  </mat-drawer-content>
</mat-drawer-container>