
.historyheader{
    text-align: center;
    margin:10pt;
}
.historylink{
    margin-left:10pt;
    margin-right:10pt;
    color:#2b2b2b;
    font-size: 15pt;
    font-weight: 200;
}
.active{
    font-weight: 600;
}