<mat-card>
    
<div>
  <div class="historyheader">
    <a routerLink="inprocess" routerLinkActive="active" class="historylink">In process</a>
    <span>|</span>
    <a routerLink="submitted" routerLinkActive="active" class="historylink">Submitted</a>
  </div>
  <router-outlet></router-outlet>
</div>

</mat-card>