<div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="text-align: left !important">
    <a class="navbar-brand brand" routerLink="/account" style="margin-left:0pt;">iSubmitter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li *ngIf="isAuth" class="nav-item dropdown" active>
        <a class="nav-link dropdown-toggle whitecolor" style="cursor: pointer; " id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ name }}
        </a>
        <span *ngIf="!emailConfirmed" class="confirmemail">email not confirmed</span>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="cursor: pointer; " (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</div>