.btn {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px; 
}
.btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; 
}
.btn.btn-primary {
      background: #46ddb0;
      border-color: #46ddb0;
      color: #fff; 
}
.btn.btn-primary:hover {
        background: #fff;
        border-color: #fff;
        color: #00d68f; 
}
.btn.btn-primary.btn-black--hover:hover {
        background: #666666;
        color: #fff; 
}
.link{
    background-color: none;
    color: white;
}
.signup{
outline-color: #00d68f;
outline-width: 1pt;
outline-style: solid;
background-color: none;
    color: white;
}
.signup:hover{
    outline-width: 1.5pt;
}

.link:hover, .link:active, .link:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
    color:white;
}        
.confirmemail{
    color:red;
    font-size: 8pt;
    font-style: italic;
    position: absolute;
    top:22pt;
    left: 8pt;
}

.brand {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-weight: 600;
    font-size: 20pt; 
    position: relative;
    top: -1pt;
    margin-left: auto;
    margin-right: auto;
}

.active {
    /* font-weight: 700; */
  text-decoration: underline;
}

.whitecolor {
    color: white !important;
}

.navbar-header {
    float: left !important;
}

.navbar-brand {
    float: left !important;
}
.navbar-toggle {
    float: left !important;
  margin-left: 15px;
  margin-right: 0;
}
