<div style="margin-top: 100pt;">
  <div class="container">
    <div class="signup-content shadow">
      <form [formGroup]="resetForm" (submit)="changePassword()" autocomplete="off">
        <h2 class="form-title">Set new password</h2>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-input" name="password" placeholder="Password" formControlName="Password" />
          <label *ngIf="resetForm.get('Password').errors?.required && resetForm.get('Password').touched"
            class="text-danger">Password required</label>
          <label *ngIf="resetForm.get('Password').errors?.minlength && resetForm.get('Password').touched"
            class="text-danger">Min lenght is 4</label>
        </div>
        <div class="form-group">
          <label>Confirm password</label>
          <input type="password" class="form-input" placeholder="Repeat password" formControlName="ConfirmPassword" />
          <label *ngIf="resetForm.get('ConfirmPassword').errors?.required && resetForm.get('ConfirmPassword').touched"
            class="text-danger">Password required</label>
          <label
            *ngIf="resetForm.get('ConfirmPassword').errors?.passwordMismatch && resetForm.get('ConfirmPassword').touched"
            class="text-danger">Passworm mismatch</label>
        </div>
        <div class="form-group">
          <input type="submit" name="submit" id="submit" class="form-submit" value="Set new password" />
        </div>
      </form>
    </div>
  </div>
</div>