<div style="overflow: visible; margin-top: 15pt;">
    <div *ngIf="!hidden">
      <div *ngIf="files.length > 0">

          <mat-card class="static-card">
            <mat-card-content>
              <div class="wrapToggle" style="display: block;">
                <input type="checkbox" class="checkbox" [(ngModel)]="checkAllButtonListener"
                  (change)="onCheckAllBoxChange()">
                <span *ngIf="!checkAllButtonListener" class="selecttext" (click)="checkAllToggle()">Select all</span>
                <span *ngIf="checkAllButtonListener" class="selecttext" (click)="checkAllToggle()">Unselect all</span>
              </div>
              <div class="wrapButtons">
                <button (click)="saveFiles()" mat-flat-button color="primary"
                  style="display: block; width: 100%; margin: 5pt; cursor: pointer;"> Save </button>
                <button (click)="submitFiles()" mat-flat-button color="primary"
                 style="display: block; width: 100%; margin: 5pt; cursor: pointer;"> Save and submit
                </button>
                <button (click)="deleteFiles()" mat-flat-button color="warn"
                  style="display: block; width: 100%; margin: 5pt; cursor: pointer;"> Delete </button>
              </div>
              <div style="position: relative; top:25pt; left:5pt;">
                {{ ckeckedImagesCount }} image(s) selected
              </div>
            </mat-card-content>
          </mat-card>


        <div *ngIf="!hidden">
          <app-submititem *ngFor="let file of files" [fileItem]="file" (itemTitle)="fileTitleChanged($event)"
            (itemCheck)="fileCheckBoxChanged($event)" (deleteKeyword)="deleteKeyword($event)"
            (newKeywords)="newKeywordsAdded($event)" (keywordsClear)="clearKeywords($event)"></app-submititem>
        </div>
      </div>

      <div class="noimagestag" *ngIf="files.length <= 0">
        <div style="margin-bottom: 10pt;">There is no upoaded images</div>
          <button routerLink="/account"  mat-flat-button color="primary">Upload</button>

      </div>

    </div>
</div>