input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.selecttext{
  position: relative;
  top: 7pt;
    cursor: pointer;
    display: block;
    margin-left: 40pt;
}
.wrapToggle{
  width:120pt;
    display: inline-block;
    position: relative;
}
.wrapButtons{
 position: relative;

 top: 20pt;
}
.checkbox{
    position: absolute;
    top: 17pt;
    left: 5pt;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-submit {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 7px 10px;
  margin: 3pt;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #46ddb0;}

.noimagestag {
  text-align: center;
  position: relative;
}

.static-card {
  width: 200pt; 
  height: 180pt; 
  position: fixed; 
  left: 1030pt; 
  top: 63pt;
}

@media (max-width: 1700px) {
  .static-card {
    left: 810pt; 
    top: 63pt;
  }
}