<div style="margin-top: 100pt;">
  <div class="container">
    <div class="signup-content shadow">
      <form [formGroup]="registerForm" id="signup-form" class="signup-form" (submit)="regusterUser()"
        autocomplete="off">
        <h2 class="form-title">Create account</h2>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-input" name="email" id="email" placeholder="Email" formControlName="Email" />
          <label *ngIf="registerForm.get('Email').errors?.required && registerForm.get('Email').touched"
            class="text-danger">Email required</label>
          <label *ngIf="registerForm.get('Email').errors?.email" class="text-danger">Email is not valid</label>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-input" name="password" id="password" placeholder="Password"
            formControlName="Password" />
          <label *ngIf="registerForm.get('Password').errors?.required && registerForm.get('Password').touched"
            class="text-danger">Password required</label>
          <label *ngIf="registerForm.get('Password').errors?.minlength && registerForm.get('Password').touched"
            class="text-danger">Min lenght is 4</label>
        </div>
        <div class="form-group">
          <label>Confirm password</label>
          <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat password"
            formControlName="ConfirmPassword" />
          <label
            *ngIf="registerForm.get('ConfirmPassword').errors?.required && registerForm.get('ConfirmPassword').touched"
            class="text-danger">Password required</label>
          <label
            *ngIf="registerForm.get('ConfirmPassword').errors?.passwordMismatch && registerForm.get('ConfirmPassword').touched"
            class="text-danger">Passworm mismatch</label>
        </div>
        <div class="form-group">
          <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
        </div>
      </form>
      <p class="loginhere">
        Have already an account ? <span style="cursor: pointer" routerLink="/login" class="loginhere-link">Login
          here</span>
      </p>
    </div>
  </div>
</div>