.successrect{
    width: 9pt;
    background-color:#00d68f;
    height: 9pt;
    display: inline-block;
    margin-right: 10pt;
    vertical-align: middle;
    border-radius: 5pt;
}
.failedrect{
    width: 9pt;
    background-color:  #ff3d71;
    height: 9pt;
    display: inline-block;
    margin-right: 10pt;
    vertical-align: middle;
    border-radius: 5pt;
}
.text{
    display: inline-block;
    margin-right: 10pt;
    vertical-align: middle;
}
.paginatoritem {
    cursor: pointer;
    margin-right: 5pt;
    text-decoration: underline;
    font-size: 11pt;
}

.active {
    text-decoration: none;
}

.centerspan {
   position: relative;
   top:30%;
}
.loading {
    width: 9pt;
    background-color: #3366ff;
    height: 9pt;
    display: inline-block;
    margin-right: 10pt;
    vertical-align: middle;
    border-radius: 5pt;
}