<div *ngIf="!hidden">
  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-11">
        <div style="position: absolute; top:-25pt; margin-left: 15px;">

          <span class="successrect"></span>
          <span class="text"> Succeded</span>

          <span class="failedrect"></span>
          <span class="text"> Failed</span>

        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="container-fluid mt-3" style="text-align: center" *ngIf="!hidden">
      <span *ngIf="lastImages.length === 0">There is no submitted images.</span>

      <app-historyitem *ngFor="let item of lastImages" [item]="item" (itemFlag)="itemFlagChanged($event)">
      </app-historyitem>

    </div>

    <div class="container-fluid mt-2 mb-4" *ngIf="lastImages.length != 0"><span
        class="mr-5"><em><small>Pages</small></em></span>
      <span class="paginatoritem" [ngClass]="{active: page == pageitem}" *ngFor="let pageitem of pagesArray()"
        (click)="paginator(pageitem)">{{ pageitem }}</span>
      <button nbbutton=""
        class="appearance-filled size-small status-primary shape-rectangle ng-star-inserted transitions"
        (click)="deleteFiles()" style="font-size: 8pt; float: right;">Delete selected</button>
    </div>

  </div>
</div>