<mat-drawer-container style="height: 100%">

  <mat-drawer mode="side" opened class="side drawer">
    <div class="board">
      <img class="success" src="../../../../assets/success.jpg">
      <p style="display: inline-block; font-size: 40px;">Registration succesfull</p>
      <div ><em style="position: relative; top: -50px; left: 120px">Please check your email to confirm your account </em></div>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <div class="mainscreen"></div>
  </mat-drawer-content>
</mat-drawer-container>