<mat-card>
    
<div class="container-fluid" >
  <div class="rowwrapper">
    <div class="imagewrapper">
      <img [attr.src]="imageToShowSafe" class="image">
      <div class="nameItem">{{ name }}</div>
    </div>
    <div class="descriptionwrapper">
      <div class="label">Title</div>
      <div class="titleitem">{{ title }}</div>
    </div>
  </div>
  <div class="keywordswrapper">
    <div class="label">Keywords</div>
    <span *ngFor="let item of keywords" class="keyword">{{ item }}&nbsp;</span>
  </div>
  <div style="margin-top:10pt;">
    <button nbbutton="" 
    class="appearance-filled size-medium status-primary shape-rectangle ng-star-inserted transitions" 
    (click)="copyKeywords()">Copy keywords</button>
  </div>
</div>
  
</mat-card>