.image{
width: 300pt;
/* box-shadow: 2pt 2pt 10px rgba(141, 141, 141, 0.308) */
}
.imagewrapper{
    display: inline-block;
    height: 100%;
}
.nameItem{
font-size: 8pt;
font-style: italic;
}
.titleitem{
font-size: 20pt;
line-height: 1.1;
}
.keywordswrapper{
margin-top: 10pt;
}
.keyword{
font-size:12pt;
display: inline-block;
    margin: 1pt;
    background-color: #edfaf6;
    cursor: pointer;
    padding: 0pt 3pt 3pt 3pt;
    border-radius: 6pt;
    border-color: #aae7d5;
    border-width: 0.5pt;
    border-style: solid;
}
.descriptionwrapper{
    min-width: 400pt;
    height: 100%;
    display: inline-block;
    position: absolute;
    left:320pt;
}
.rowwrapper{
    position: relative;
}

.label{
    margin-bottom: 5pt;
    font-size: 8pt;
    font-style: italic;
    color: lightgrey;
}
.btnsmall{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    padding: 4px 6px;
    margin: 3pt;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #46ddb0;}