<div style="margin-top: 100pt;">
    <div class="container">
        <div class="signup-content shadow">
            <form [formGroup]="loginForm" id="signup-form" class="signup-form" (submit)="loginUser()">
                <h2 class="form-title">Sing in</h2>
                <div class="form-group">
                    <input type="email" class="form-input" name="email" id="email" placeholder="Email"
                        formControlName="Email" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" name="password" id="password" placeholder="Password"
                        formControlName="Password" />
                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                </div>

                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Login" />
                </div>
            </form>

            <p class="loginhere">
                Have no account ? <span style="cursor: pointer" routerLink="/register" class="loginhere-link">Register
                    here</span>
            </p>
            <p class="forgotpassword" routerLink="/recovery">
                Forgot your password?
            </p>
        </div>

    </div>
</div>