<mat-card>
    <mat-card-content>
    <div class="container-fluid" *ngIf="!hidden">
      <div class="row">
        <div class="col-12" style="text-align: center; padding: 60pt">
          <input #file type="file" accept=".eps" multiple hidden (change)="onChange(file.files); file.value = ''">
          <img #myimage src="../../../assets/buttonselect.png" style="cursor: pointer; height: 200pt;"
            (click)="file.click()" (mousedown)="myimage.src='../../../assets/buttonselect1.png'"
            (mouseup)="myimage.src='../../../assets/buttonselect.png'"
            (mouseout)="myimage.src='../../../assets/buttonselect.png'">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span *ngIf="count != 0"><b>{{ count }} files chosen:</b></span>
          <br>
        </div>
        <div class="col-12">
          <button *ngIf="count != 0" mat-flat-button color="primary"
            class="float-right"
            style="margin-right: 5pt" (click)="clearFilesList()">
            Clear list</button>
        </div>
      </div>
      <div class="mt-2">
        <app-uploaditem *ngFor="let myfile of currentfiles" [file]="myfile" (fileToEmit)="delItem(myfile)">
        </app-uploaditem>
      </div>
      <div class="row mt-4">
        <div class="col-12 mb-5">

          <button *ngIf="count != 0" mat-flat-button color="primary"
          
            (click)="file.click()" style="margin-right: 5pt">Add more</button>
          <button mat-flat-button color="primary" *ngIf="count != 0"
            
            (click)="uploadFiles()">Load</button>
        </div>
      </div>
      <app-uploading></app-uploading>
    </div>
  </mat-card-content>
</mat-card>