.form-submit {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    padding: 7px 10px;
    margin: 3pt;
    margin-left: 0pt;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: #46ddb0;}
.btnsmall{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    padding: 4px 6px;
    margin: 3pt;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #46ddb0;}
