.item-link {
    cursor: pointer;
}

.item-link:focus {
        outline:none;
}

.active {
    font-weight: 800;
}
.app-sidebar {
    width: 160pt;
    background-color: teal;
}

.app-list {
    position: fixed;
}