<div class="app-sidebar">
  <mat-list role="list" class="app-list">
    <mat-list-item routerLink="/account/upload" routerLinkActive="active" role="listitem" class="item-link">Upload
    </mat-list-item>
    <mat-list-item routerLink="/account/submit" routerLinkActive="active" role="listitem" class="item-link">Edit &
      Submit</mat-list-item>
    <mat-list-item routerLink="/account/history" routerLinkActive="active" role="listitem" class="item-link">Submitted
      images</mat-list-item>
    <mat-list-item routerLink="/account/settings" routerLinkActive="active" role="listitem" class="item-link">Settings
    </mat-list-item>
  </mat-list>
</div>