.submitSucces{
   color:#00d68f;
}
.submitFail{
    color: #ff3d71;
 }
 .submitProcess {
    color: #3366ff;
 }
 .stockItem{
     margin-left:10pt;
     font-size: 10pt;
     cursor: pointer;
 }
 .uploadCompleted{
    width: 10pt;
    margin-right: 10pt;
}
.viewItem{
    margin-left:10pt;
     font-size: 8pt;
     cursor: pointer;
}
.loading{
    width: 10pt;
}

.dropdown-menu {
    padding:0pt;
    font-size: 10pt;
}
.dropdown-item {
    padding:5pt;
}

.muted {
    background-color: #e7e7e7
}

.drop {
    background-color: #343a40;
    color: white;
}