<div class="row" [ngClass]="{muted: item.isChecked}">
  <div class="col-2" style="text-align: left">
    <small>{{ item.name }}</small>
  </div>
  <div class="col-6">
    <div *ngFor="let data of item.statusList" style="display: inline-block">
      <span class="stockItem"
        [ngClass]="{submitSucces:data.status =='Submitted', submitFail:data.status =='Failed', submitProcess:data.status == 'InProcess'}"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ getShortName(data.stock) }}</span>
      <div class="dropdown-menu">
        <span style="cursor: pointer" class="dropdown-item drop" (click)="resubmitFile(data.stock)">Resubmit
          {{ item.name }} to
          {{ data.stock }}</span>
      </div>
    </div>
  </div>
  <div class="col-2">
    <span class="stockItem">
      {{ item.submitDateTime | date:'short'}}
    </span>
  </div>
  <div class="col-1">
    <span class="viewItem" (click)="imageDetails()">
      <b>View</b>
    </span>
  </div>
  <div class="col-1">
    <input type="checkbox" *ngIf="!isInprocessRoute" [(ngModel)]="item.isChecked" (change)="onChangeFlag()">
  </div>
</div>