
<app-header></app-header>
<mat-drawer-container class="app-container">
  <mat-drawer mode="side" opened class="app-drawer"><app-side-bar></app-side-bar></mat-drawer>
  <mat-drawer-content> <router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
