.imgdescinput{
    position: relative;
    left:5pt;
    font-size: 8pt;
    display: inline;
    border-style: none;
    outline: none;
    background: none;
    overflow:hidden;
}
ul{
    list-style-type: none;
    display: inline;
    padding: 0pt;
    max-width: 500pt;
}
li{
    display: inline-block;
    margin: 1pt;
    background-color: #edfaf6;
    cursor: pointer;
    padding: 0pt 3pt 3pt 3pt;
    border-radius: 6pt;
    border-color: #aae7d5;
    border-width: 0.5pt;
    border-style: solid;
}
.checkbox{
    margin-top: 0pt;
    margin-bottom: 0pt;
}
input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.fullblock{
    background-color: #dadada;
}
.keyword{
    padding: 5pt;
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
    cursor: pointer;
    background-color: aqua;
    margin:3pt;
    border-radius: 7%
}


.keyworditem{
    
    font-size: 8pt;
   
}
.kwcount{
    color:rgb(190, 190, 190);
    font-size: 7pt;
    font-style: italic;
    position: absolute;
}

.main{
    margin: auto;
    margin-bottom:30pt;
    height: 180pt;
    margin-left: 30pt;
}

.ckeckboxWrapper{
    display: inline-block;
    width: 30pt;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-color: rgb(248, 248, 248)
}
.checkboxItem{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.imageWapper{
    margin-left: 10pt;
    width:150pt;
    height: 100%;
    display: inline-block;
    position: relative;
}
.imgpreview{
    width:150pt;
    padding: 0pt;
    box-shadow: 0pt 0pt 5pt rgb(231, 231, 231);
    position: absolute;
    top: 78pt; left: 50%;
    transform: translate(-50%,-50%);
}

.descriptionWrapper{
    margin-left: 10pt;
    display: inline-block;
    width:600pt;
    height: 100%;
    position: relative;
    top:-5pt;
}

@media (max-width: 1700px) {
    .descriptionWrapper {
        width: 570px;;
    }
    .main {
        margin-left: 10pt;
    }
  }



.titleinbox{
    position: absolute;
    padding: 5pt;
    border-style: solid;
    border-color: #dadada; 
    border-width: 0.5pt;
    width: 100%;
    height: 30pt;
}
.keywordselement{
    position: relative;
    width: 100%;
    margin-top:35pt;
    padding: 5pt;
    border-style: solid;
    border-color: #dadada; 
    border-width: 0.5pt;
    height: 140pt;
    overflow:hidden;
} 
.filename{
    position: absolute;
    font-size: 7pt;
    width:100%;
    top:160pt;
}
.muted{
    background-color: rgb(250, 250, 250);
}
input:disabled {
    background: rgb(250, 250, 250);
  }
   
.checkboxDis{
    background-color: white !important;
    cursor: auto;
}

.copybutton {
   margin-left: 20pt;
}