<div class="main">

  <div class="ckeckboxWrapper" (click)="toggle()">
    <input #inp type="checkbox" [(ngModel)]="fileItem.isChecked" class="checkboxItem">
  </div>
  <div class="imageWapper">
    <img [attr.src]="imageToShowSafe" class="imgpreview">
    <div class="filename">{{ fileItem.name }}</div>
  </div>

  <div class="descriptionWrapper">
    <input [(ngModel)]="fileItem.title" class="titleinbox" (change)="titleChanged()" placeholder="Title">
    <div class="keywordselement" (click)="keys.focus()">
      <ul>
        <li *ngFor="let item of fileItem.keywords" (click)="delKeyword(item)"><span
            class="keyworditem">{{ item }}&nbsp;x</span></li>
      </ul>
      <input [(ngModel)]="textContent" class="imgdescinput" #keys (change)="keywordsChanged()">

    </div>
  
    <div style="position: absolute; right: 0;">
        <span (click)="copyKeywords()" style="cursor: pointer;"
    class="copybutton" > Copy keywords </span>
         <span (click)="clearKeywords()" style="cursor: pointer;"
    class="copybutton" > Clear keywords </span>
    </div>
    
    <div *ngIf="fileItem.keywords" class="kwcount">Entered {{ fileItem.keywords.length }} keyword(s)</div>
    <div *ngIf="!fileItem.keywords" class="kwcount">Entered 0 keyword(s)</div>
  
  </div>
 
  
</div>