.stockitem{
    cursor: pointer;
    font-size: 14pt;
    margin-left: 10pt;
}
.stockitem:active{
    font-weight: bold;
}
.selectedItem{
    font-weight: bold;
}

.example-container {
    width: 100%;
    margin: 10px;
    border: 1px solid #555;
}