<mat-card style="margin:2em; padding: 4em">
    <mat-card-content>
      <div style="display: table-cell; ">
        <div style="width: 100%; margin-bottom: 15pt; vertical-align: top;"
          [ngClass]="{selectedItem:item.stock == currentData.stock}" *ngFor="let item of stockData"
          (click)="setCurrentDataItem(item)" role="listitem" class="stockitem item-link">
          {{ item.stock }}
        </div>
      </div>
  
      <div style="display: table-cell; vertical-align: top; padding-left: 80pt;">
        <app-settingsitem [stockItem]="currentData"></app-settingsitem>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="saveChanges()" style="margin-left:15pt;" mat-flat-button color="primary">Save changes</button>
      </mat-card-actions>
  </mat-card>
  