<div>
  <p class="uploading-header"><b>Uploading files:</b></p>
  <div class="mt-2">
    <div *ngIf="loadingfiles.length !== 0">
      <div *ngFor="let myfile of loadingfiles">
          <mat-spinner [diameter]="15" style="display: inline-block; position: absolute;  "></mat-spinner>
        <span style="position: relative; left:70pt;"> {{ myfile.name }}</span>
      </div>
    </div>
    <div *ngIf="loadingfiles.length === 0">
      <span>There is no uploading files</span>
    </div>
  </div>
</div>